<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include '/base/head.html.twig'%}
        {% endblock head %}
    </head>
    <body>
        {% block javascripts %}
            {% include '/base/javascripts.html.twig'%}
        {% endblock javascripts %}

        {% if app.debug %}
            {% block debug %}
                {% include '/base/debug.html.twig'%}
            {% endblock debug %}
        {% endif %}

        {% block content %}
        {% endblock content %}
    </body>
</html>