<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include '/base/head.html.twig'%}
        {% endblock head %}
    </head>
    <body>
        {% block javascripts %}
            {% include '/base/javascripts.html.twig'%}
        {% endblock javascripts %}

        {% if app.debug %}
            {% block debug %}
                {% include '/base/debug.html.twig'%}
            {% endblock debug %}
        {% endif %}

        {% block content %}
        {% endblock content %}
        {#<div data-role="footer" style="background-color: #D3D3D3; color: white; text-align: right; bottom: 0; left: 0;position: fixed; width: 100%; z-index: 999; font-size: small"> © 2016 - florian.petruschke@gmail.com</div>#}
    </body>
</html>